
@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}


<div class="banner">
</div>

               
    <div class="showline">
    <input id="OrderId" class="form-control" style="margin-bottom:6px" placeholder="Order ID" />
@*         <select id="BankId" class="form-select" aria-label="Default select example">
            @foreach (MtBank bank in Model.mtBanks)
            {
                <option value="@bank.Id">@bank.Code</option>
            }
        </select> *@
   <br />
        <input id="Amount" type="number" class="form-control" style="margin-bottom:6px" placeholder="Amount." />

    </div>
    <br />

        <div class="input-group">
        <input type="file" class="form-control" Id="File" name="File" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
       
        <button class="btn btn-outline-secondary" style="background-color:yellow    " type="button" id="inputGroupFileAddon04" onclick="SaveData('Verify')">Verify Slip</button>
        </div>
        <br/>
   <div id="verslip"></div>
<img id="myimage" height="500">

@* <div class="drop-zone">
    <span class="drop-zone__prompt">Drop file here or click to upload</span>
    <input type="file" name="myFile" class="drop-zone__input">
</div> *@


<script>
    document.getElementById('File').onchange = function (evt) {
        var tgt = evt.target || window.event.srcElement,
            files = tgt.files;

        // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                document.getElementById('myimage').src = fr.result;
            }
            fr.readAsDataURL(files[0]);
        }

        // Not supported
        else {
            // fallback -- perhaps submit the input to an iframe and temporarily store
            // them on the server until the user's session ends.
        }
    }
    function SaveData(_mode) {
        debugger;
        switch (_mode) {
           
            case 'Verify':
                debugger;
                var OrderId = document.getElementById("OrderId").value;
                var Amount = document.getElementById("Amount").value;
           //     var PromNo = document.getElementById("PromNo").value;
              //  var BankId = document.getElementById("BankId").value;
            //    var BankCode = document.getElementById("BankCode").value;
            //    var hid = document.getElementById("hdID").value;

                var file = document.getElementById("File").files[0];
                // var file_ext = filePath.substr(filePath.lastIndexOf('.') + 1, filePath.length);
                let formData = new FormData();
                formData.append("File", file);
                // var genVer = {
                 
                //     BankCode: BankId,
                //     Amount: Amount,

                // };
              //  formData.append("AccInput", PromNo);

                formData.append("Amount", Amount);
                formData.append("OrderId", OrderId);
                debugger;
                $.ajax({
                    type: "POST",
                    method: 'POST',
                    url: "@Url.Action("verifyslip", "Home")",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                               var divModalBody = $('#verslip');
                               divModalBody.html(``);
                        if(response.isSuccess != false)
                        {
               


                        divModalBody.html(`<div class="output">
                       
                        <h3>`+response.isSuccess+`</h3>
                                            <h3>AI : `+ response.verifyAI + `</h3>
                                            <h3>SMS : `+ response.verify + `</h3>
                                <h4>`+ response.bank+ `</h4>
                                <a>Total. ` + response.amt + ` </a>
                                            
                            </div>`);
                        }
                        else
                        {
                            divModalBody.html(`<div class="output">
                            <h2>`+ response.isSuccess + `</h2>
                              <h2>`+ response.message + `</h2>

                                </div>`);
                        }
                    
                        debugger;
                    },
                    error: function (request, status, error) {
                        
                        alert(request.responseText);
                    }
                });

                break;

        }
    }
</script>

