html {
  font-size: 14px;
  font-family:Tahoma;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
 
 }

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

    /* Sidebar links */
    .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
    }

        /* Active/current link */
        .sidebar a.active {
            background-color: #04AA6D;
            color: white;
        }

        /* Links on mouse-over */
        .sidebar a:hover:not(.active) {
            background-color: #555;
            color: white;
        }

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

        .sidebar a {
            float: left;
        }

    div.content {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.banner {
    margin-top: -15px;
    height: 400px;
    opacity: 0.6 ;
 /*   background-image: url('../image/ppgrbem-cool-rainbow-wallpaper.jpg');*/
}

.block-cont
{
    margin: 5px 0px 0px 0px;
    border: 1px solid #dee2e6!important;
}


.form-login {
    display: block;
    width: 95%;
    text-align: -webkit-center;
    margin: 2px 4px;
    /* margin-left: 100px;*/
}


    .Requireup span {
        color: red;
    }
.btncustom {
    width: 150px !important;
}

.bg-color {
    background-color: cadetblue;
}
.imgResult
{
    width:100%;
}
.dynamicpop {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 5px;
    justify-content: center;
    width: 100%;
    align-content: center;
   /* background-color: darkslategrey;*/
}
.output
{
    display:block;
}
    .output h3{
        color:forestgreen;
    }

    .output h2 {
        color: red;
    }
.blockshow {
    display: grid;
    grid-template-columns: 200px 1fr 100px;
    background-color: #4d004d;
    /*  border-radius: 25px;*/
    text-align: center;
    width: 95%;
    height: 100px;
    margin: 4px 17px;
    animation: expand .5s ease-in-out;
    font-family: Tahoma;
}

    .blockshow button:hover{

        background-color:goldenrod;
        
    }

.show {
    display: inline-block;
    background-color: black;
     
    opacity: 0.9
}

.show label{
    font-family:Tahoma;
    font-style:normal;
    font-size:1.4rem;
}

@keyframes expand{
    from{
        transform:scale(0);
        opacity:0;
        background:#5470B0;
    }
}
.table{
    background-color:whitesmoke;
}


.showline {
    display: block;
}

    .blockshow-item {
    display:inline-grid;
  
}

.blockshow-item:nth-child(1) {
    color: yellow;
   
}
    .blockshow-item:nth-child(2) {
        color: whitesmoke;
        align-content: space-evenly;
    }






@media only screen and (max-width: 768px) {

    .blockshow {
        grid-template-columns: 1fr;
    }
    }








